<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{general/fragmentos :: head('Eventos')}" ></head>
<body>
<nav th:replace="~{general/fragmentos :: navbar}"></nav>
<header th:replace="~{general/fragmentos :: hero('Gestión de eventos', 'Listado general de eventos')}"></header>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Listado de eventos</h3>
        <a sec:authorize="hasAnyRole('ADMIN','ORGANIZADOR')" th:href="@{/eventos/nuevo}" class="btn btn-rosa">Nuevo evento</a>
    </div>

    <div class="alert alert-success" th:if="${mensaje}" th:text="${mensaje}"></div>

    <div class="card shadow-sm border-0">
        <div class="card-body">
            <table class="table table-hover align-middle">
                <thead>
                <tr>
                     <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Capacidad</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="evento : ${eventos}">
                    <td th:text="${evento.id}"></td>
                    <td th:text="${evento.nombre}"></td>
                    <td th:text="${evento.descripcion}"></td>
                    <td th:text="${evento.fecha}"></td>
                    <td th:text="${evento.capacidad}"></td>
                    <td th:text="${evento.activo ? 'Activo' : 'Inactivo'}"></td>
                    <td>
                        <a sec:authorize="hasAnyRole('ADMIN','ORGANIZADOR')" th:href="@{/eventos/editar/{id}(id=${evento.id})}" class="btn btn-sm btn-warning">Editar</a>
                        <a sec:authorize="hasAnyRole('ADMIN','ORGANIZADOR')" th:href="@{/eventos/eliminar/{id}(id=${evento.id})}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="~{general/fragmentos :: footer}"></footer>
<script th:replace="~{general/fragmentos :: scripts}"></script>
</body>
</html>