<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{general/fragmentos :: head('Login')}" ></head>
<body>
<nav th:replace="~{general/fragmentos :: navbar}"></nav>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg border-0 card-login">
                <div class="card-body p-4">
                    <h2 class="text-center mb-4">Iniciar sesión</h2>

                    <div class="alert alert-danger" th:if="${param.error}">
                        Credenciales incorrectas.
                    </div>

                    <div class="alert alert-success" th:if="${param.logout}">
                        Sesión cerrada correctamente.
                    </div>
                     <form th:action="@{/login}" method="post">
                        <div class="mb-3">
                            <label class="form-label">Correo</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-rosa w-100">Ingresar</button>
                    </form>

                    <div class="mt-4">
                        <p class="mb-1"><strong>Usuarios de prueba:</strong></p>
                        <small>Debe crearlos desde BD con contraseña encriptada o por la app.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{general/fragmentos :: footer}"></footer>
<script th:replace="~{general/fragmentos :: scripts}"></script>
</body>
</html>